.banner {
  display: block;
  padding: 15px 15px;
  border-radius: 10px;
}

.primary {
  color: white;
  background-color: #2e2473;
}

.placeholder {
  background-color: #ededed;
  border: dashed #e0e0e0 2px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-height: 300px;
}

.carousel-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button1 {
  margin: 30px 10px;
  padding: 5px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
}

.button2 {
  margin: 30px auto;
  padding: 5px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #e64343;
  color: #ecf0f1;
}