<main>
  <section appCarouselImage>
    <img
      src="{{ src }}"
      alt="slide"
      *appCarousel="imgCollection; let src = img"
    />
    <div>
      <button id="Prev">Prev</button>
      <button id="Next">Next</button>
    </div>
  </section>
</main>
